<article class="person">
  <header class="pageheader">
    <h1>Ad Coenen</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Ad Coenen graduated in 2013 as a sociologist at the University of Ghent.</p>
      <p>For his master thesis, he investigated the links between gentrification and the propensity to move. From March till July 2013, he studied at the University of Bielefeld as an Erasmus student. Based on his master thesis, he developed a measurement tool for the Ghent City Council to measure gentrification. Other side projects dealt with racial discrimination on the housing market and the association between high-rise buildings and self-reported health.</p>
      <p>Ad is currently preparing a PhD under the supervision of Prof. Dr. Bart Van de Putte and Prof. Dr. Pieter-Paul Verhaeghe. The aim of his research project is to investigate the link between household composition characteristics and the city-wide distribution of households on the one hand and ethnic residential segregation on the other.</p>
    </section><! -- .bio -->
  </div><!-- .content -->
</article><!-- .person -->
