<article class="person">
  <header class="pageheader">
    <h1>Elise Rondelez</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Elise Rondelez graduated as a sociologist of culture and religion in 2011 at the KULeuven</p>
      <p>For her master thesis she investigated what the founding fathers of sociology and some more recent sociologist had to say about the compatibility of secularization and Islam. She also did a little excursion to Social and Cultural anthropology.</p>
      <p>Since September 2013, she is a PhD qualitative researcher affiliated with Hedera. Her research, under supervision of prof. dr. Sarah Bracke, prof. dr. Piet Bracke & prof. dr. Griet Roets, considers identity constructions of Belgian ‘mentally ill’ Muslims. They are positioned in an intersection of (dis)ability, religion, ethnicity and gender, considered as the opposite of ‘the rational subject’. The theoretical inquiry unpacks this ‘subject’ and is empirically grounded in participatory research and in interviews with mental health professionals and Muslims with respect to discourses they are confronted with to make sense of mental health and their identities. The practical implications of this research are aimed to support mental healthcare practices for an underrepresented group in institutional mental healthcare: Muslim migrants.</p>
    </section>
  </div><!-- .content -->
</article>
