<article class="person">
  <header class="pageheader">
    <h1>Emilien Dupont</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Emilien Dupont obtained a Master’s degree in Sociology with great distinction from Ghent University in 2013.</p>
      <p>For her master’s thesis she investigated the changing attitudes of adolescents concerning romantic relationships and marriage for which she collected, prepared and analyzed her own data.</p>
      <p>From January 2014 onwards she worked on the project ‘Transnational endogamy in migrant communities in Belgium (2001-2008)’ as a PhD student. This project aims to examine the partner choices of migrant communities in Belgium with a focus on long established migrant groups, such as migrants from Turkey, Morocco, Congo, and Algeria. By incorporating structural effects as well as changes through time, this project presents a dynamic and demographic approach to the study of partner choices. She was granted the ‘EAPS Poster Award 2016’ for her poster on ‘Partner choices of long established migrant groups in Belgium’.</p>
      <p>Besides the partner choice of migrants, Emilien is currently researching divorce risks coupled with the partner choice within the Turkish and Moroccan migrant groups. She is also planning to investigate re-partnering trends within these communities to depict a full picture of the various stadia in the marital history of migrants.</p>
    </section><!-- .bio -->
    <section class="bibliography">
      <h2>Bibliography</h2>
          <p><a href="https://biblio.ugent.be/person/000090464422">https://biblio.ugent.be/person/000090464422</a></p> 
    </section><!-- .bibliography -->
    <section class="contact">
      <h2>Contact</h2>
      <p><i class="fa fa-phone"></i>+32 (0)9 264 84 72<br>
      <i class="fa fa-map-marker"></i>Korte Meer 5, 9000 Ghent, Belgium</p>
    </section><!-- .contact -->
  </div><!-- .content -->
</article><!-- .person -->

