---
title: Health and Demographic Research
---

<div class="home">
  <div class="banner">
    <h1>HEALTH AND DEMOGRAPHIC RESEARCH</h1>
    <p class="tagline">research on crucial life-course transitions</p>
  </div>
  <div class="row">
    <section class="news">
      <h2>RECENT NEWS</h2>
      <article class="newsitem">
        <aside>
          <%= image_tag "elders.jpg" %>
        </aside>
        <div class="content">
        <header>
          <h3>Reversing the Malthusian paradigm on retirement age</h3>
        </header>
        <p>Patrick Deboosere and Hadewijch Vandenheede recently wrote an article about the similarities between the Malthusian approach of the population question and the the decision to increase the age..</p>
        <p class="more"><a href="#">read more</a></p>
        </div><!-- .content -->
      </article><!-- .newsitem -->
    </section><!-- .news -->
    <section class="about">
      <header>
        <h2>ABOUT HEDERA</h2>
        <p>Research group Hedera (Health and Demographic Research) at the University of Gent stands for expertise within the fields of Sociology of health, Sociology of the family and Social demography.</p>
        <p class="more"><a href="/about.html">read more</a></p>
      </header>
    </section><!-- .about -->
  </div>
</div>

