<article class="person">
  <header class="pageheader">
    <h1>Karen Vanderlinden</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Karen Vanderlinden graduated with great distinction as a sociologist at Ghent University in 2013.</p>
      <p>For her master thesis she investigated the connection between poverty and breastfeeding among natives and migrants in Belgium. After obtaining her master degree in sociology, she was employed as a teaching assistant. She teaches several courses for different subjects: Actuele Maatschappelijke Problemen (Contemporary Social Problems), Sociologisch Onderzoek II (Sociological Research: Methodology), Sociology van de moderniteit (Classic Sociology); organizes and coordinates workshops, mini-conferences and exams on a larger scale; grades papers in several stages to help ensure continuous feedback for students&hellips;</p>
      <p>Karen is currently preparing a PhD under the supervision of Prof. Dr. Bart Van de Putte and Prof. Dr. Piet Bracke. The PhD thesis will build further on her master thesis. The central aim is to study breastfeeding from a sociological perspective, meaning that for her PhD the idea of having many breastfeeding ‘choices’ is put into question. Using an intersectional perspective, she studies several (social) axes; like poverty, education, gender, policies,… and the way they influence breastfeeding practices and patterns. At the end of her PhD she means to construct a large sociological and theoretical framework that shows the different kind of pathways in which women and mothers are guided to their feeding ‘choices’. Simultaneously, she will zoom out and take a broader look at general reproductive health profiles worldwide in order to tease out reproductive differences that are often overlooked in general health studies, but also to provide more structure for her PhD articles focusing on Belgium and Europe.</p>
    </section><!-- .bio -->
    <section class="bibliography">
      <h2>Bibliography</h2>
      <p><a href="https://biblio.ugent.be/person/000090508171">https://biblio.ugent.be/person/000090508171</a></p>
    </section><!-- .bibliography -->
    <section class="contact">
      <h2>Contact</h2>
      <p><i class="fa fa-phone"></i><a href="tel:3292649169">+32 (0)9 264 91 69</a><br>
      <i class="fa fa-map-marker"></i>Korte Meer 5, 9000 Ghent, Belgium
      </p>
    </section><!-- .contact -->
  </div><!-- .content -->
</article><!-- .person -->
