<article class="person">
  <header class="pageheader">
    <h1>Katrijn Delaruelle</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Katrijn Delaruelle graduated from the University of Ghent in 2014 with a master’s degree in Sociology. For her master thesis, she focused on the acculturation process of Iranian and Afghan female refugees.</p>
      <p>Katrijn is currently preparing a PhD under the supervision of prof. Piet Bracke, financed by the Special Research Fund (BOF) of Ghent University. Her research aims to take a socio-historical perspective on the relationship between education and health. Using data of the European Social Survey, she focuses on the impact of the gendered expansion of higher education, as well as of subsequent contextual changes, on health inequalities between men and women at the different levels of the educational ladder. This research is conducted using a hierarchical age-period-cohort models (HAPC) approach.</p>
      <p>In 2016, Katrijn won the paper prize of the European Society for Health and Medical Sociology.</p>
    </section><!-- .bio -->
  </div><!-- .content -->
</article>
