<article class="person">
  <header class="pageheader">
    <h1>Lore van Gorp</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Lore Van Gorp holds a master degree in Sociology which she obtained from Ghent University in 2010.</p>
      <p>After a first working experience in human resource management at the federal government, she started to work as researcher at Vlerick Business School.</p>
      <p>Her first project was the development of a creativity tool for Flanders district of creativity. Afterwards she focused more on academic research in which she focused on change management and cross-cultural group dynamics.</p>
      <p>Lore is currently preparing a PhD at Ghent University, funded by the Special Research Fund (BOF) of Ghent University, under the supervision of Prof. Dr. Peter Stevens and Prof. Dr. Smaranda Boros. Prof. Dr. Piet Bracke is a member of her doctoral advisory committee. In her PhD she focuses on the well-being of repatriates from a social support and identity perspective. Both qualitative and quantitative methods are used in this research project.</p>
    </section><!-- .bio -->
  </div><!-- .content -->
</article><!-- .person -->
