<article class="person">
  <header class="pageheader">
    <h1>Nathan Wittock</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Nathan Wittock is a PhD Student at the Department of Sociology at Ghent University since November 2015. He obtained his Master in Sociology at Ghent University in 2014-2015, graduating in the field of Political Sociology. While his Master’s Thesis was on the sociology of mental health and illness, and the experiences of family members of people diagnosed with a psychiatric illness, his current research further expands on his interests in the fields of political sociology, Science and Technology Studies, and the sociology of health. Currently he is working on different aspects of the Blood Economy. On the one hand he focuses on the sociotechnical controversies in the techno-scientific organization of the European blood supply. On the other hand he studies the multiple ontologies of blood, as enacted in a specific blood establishment, by performing ethnographic research. Teaching activities include one guest lecture on the topic of biological citizenship in the Masters course on Citizenship and Participation, taught by Prof. Dr. Lesley Hustinx."</p>
    </section><!-- .bio -->
  </div><!-- .content -->
</article><!-- .person -->

