<article class="person">
  <header class="pageheader">
    <h1>Pieter-Paul Verhaeghe</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Pieter-Paul Verhaeghe defended in 2012 his PhD in Sociology at Ghent University.</p>
      <p>His doctoral dissertation examined the (re)producing role of social capital for ethnic and socio-economic inequalities in health and in the labour market entrance. In the same year he wrote the laymen book “Migrant zkt toekomst” about the complex migration and diversity patterns in city of Ghent (<a href="http://www.migrantzkttoekomst.be">www.migrantzkttoekomst.be</a>).</p>
      <p>He currently works as a postdoctoral fellow at the Department of Sociology of Ghent University and as an assistant professor at the Department of Sociology of VUB. His current research interests include discrimination, migration, poverty, social cohesion, health inequalities and residential segregation.</p>
    </section><!-- .bio -->
    <section class="bibliography">
      <h2>Bibliography</h2>
      <p><a href="https://biblio.ugent.be/person/002002460724">https://biblio.ugent.be/person/002002460724</a></p>
    </section><!-- .bibliography -->
    <section class="contact">
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope"></i><a href="mailto:pieterpaul.verhaeghe@ugent.be">pieterpaul.verhaeghe@ugent.be</a><br>
      <i class="fa fa-link"></i><a href="https://pieterpaulver.wordpress.com">https://pieterpaulver.wordpress.com</a>
      </p>
    </section><!-- .contact -->
  </div><!-- .content -->
</article><!-- .person -->
