<div class="research">
  <header class="pageheader">
    <h1>RESEARCH</h1>
  </header>
  <section class="health-sociology">
    <%= image_tag "health.jpg" %>
    <h2>HEALTH SOCIOLOGY</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h3>PROJECTS</h3>
    <ul>
      <li><a href="#">Divorce in Flanders</a></li>
      <li><a href="#">Underestimation of work-family conflict</a></li>
    </ul>
  </section><!-- health-sociology -->
  <section class="ethnic-diversity">
    <%= image_tag "elders-2.jpg" %>
    <h2>ETHNIC DIVERSITY</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h3>PROJECTS</h3>
    <ul>
      <li><a href="">Ethnic minority entrants into the labour market: the role of social capital</a></li>
      <li><a href="">Family formation and partner migration</a></li>
    </ul>
    
  </section><!-- health-sociology -->
  
</div><!-- .research -->

