<article class="person">
  <header class="pageheader">
    <h1>Ricardo Ayala</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Ricardo A. Ayala is a sociologist from the University of Strasbourg (France) who holds a PhD degree awarded by Ghent University.</p>
      <p>He started life as an academic in healthcare and education in Chile – which was the basis of an ethnographic interest of his – before turning to the humanities and social sciences. He’s published extensively in Spanish, French and English about professional issues in health. His doctoral research, “Towards a Sociology of Nursing”, led to collaboration with colleagues from a number of countries in continental Europe and the English-speaking world. He holds affiliation with the Association Française de Sociologie, the European Society of Health and Medical Society, and the European Association for the Teaching of Academic Writing and is a member of the Editorial Board of the International Journal of Qualitative Methods.</p>
      <p>Currently, he’s financed by Research Foundation Flanders for a post-doctoral project studying the medical profession cross-nationally, aimed at concept development in the fields of professional expertise, health and welfare policy-making, and healthcare organisations.</p>
    </section><!-- .bio -->
  </div><!-- .content -->
</article><!-- .person -->
