<article class="person">
  <header class="pageheader">
    <h1>Rozemarijn Dereuddre</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Rozemarijn Dereuddre holds a master degree in sociology (2011, Ghent University).</p>
      <p>She is a PhD student working on a research project financed by the Special Research Fund (BOF) of Ghent University. Her research aims to shed new lights on contraceptive behavior across European societies. Building on prevailing sociological power and gender stratification theories, these decisions are approached as the outcome of a bargaining process. Additional attention is paid to the context by taking relevant cohort, regional and country effects into account.</p>
      <p>Rozemarijn collaborated with the Division of Social and Behavioral Sciences (University of Cape Town), that specializes in – among others – HIV/AIDS, masculinities and health. In 2015, she won a junior scholar grant from the European Sociological Association.</p>
    </section><!-- .bio -->
  </div><!-- .content -->
</article><!-- .person -->
