<article class="person">
  <header class="pageheader">
    <h1>Sinem Yilmaz</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Sinem Yılmaz graduated in 2011 as a sociologist at Fatih University in Turkey.</p>
      <p>She obtained a master’s degree in Social and Cultural Anthropology in 2013 at Katholieke Universiteit Leuven. For her master thesis, she interviewed second generation highly educated Turkish Belgian and Dutch citizens who migrated to their parents’ home country. She critically analysed migration development nexus during her research.</p>
      <p>Sinem is currently preparing a PhD under the supervision of Prof. Bart van de Putte and Prof. Peter Stevens. Her research provides an insight on how Turkish Belgian women become socially mobile. Touching upon the resources, strategies and limitations for upward social mobility, it aims to understand how informal institutions, in particular, family, neighbourhood and ethnic group, influence social mobility. Considering traditional division of labour and strong cohesion among Turkish migrants, the question is how educated Turkish Belgian women develop family related strategies for upward social mobility.</p>
    </section><!-- .bio -->
  </div><!-- .content -->
</article>
