<article class="person">
  <header class="pageheader">
    <h1>Veerle Buffel</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Veerle Buffel holds a master degree in Sociology (2012, Ghent University) and has recently graduated as a phd in Sociology (31 May, 2016). The title of her dissertation is “Mental health and mental health care use of the unemployed: A multilevel study into the medicalization of unemployment in Europe”.</p>
    </section>
    <section>
      <h2>Research</h2>
      <ul>
        <li>Stakeholder analysis</li>
      </ul>
    </section>
    <section>
      <h2>Output</h2>
      <p>Het veld van ouderengerelateerde gezondheidsinformatie: Een stakeholder analyse<i class="fa fa-download right"></p></i>
      <p>Pharmaceuticals as solution for health problems: A stakeholder perspective<i class="fa fa-download right"></i></p>
    </section>
    <section>
      <h2>Bibliography</h2>
      <p><a href="https://biblio.ugent.be/publication?q=%22veerle+buffel%22">https://biblio.ugent.be/publication?q=%22veerle+buffel%22</a></p>
    </section>
    <section>
      <h2>Contact</h2>
      <p><i class="fa fa-envelope"></i><a href="mailto:veerle.buffel@ugent.be">Veerle.Buffel@UGent.be</a><br>
      <i class="fa fa-phone"></i><a href="tel:3292649667">+32 (0)9 264 96 67</a><br>
      <i class="fa fa-map-marker"></i>Department of Sociology Korte Meer 5, 9000 Ghent (Belgium)</p>
    </section>
  </div><!-- .content -->
</article>
